<!DOCTYPE html>
    <head>
        <title>Digital Forensics Blog</title>
    	
        <link rel="stylesheet" type="text/css" href="landing-page.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body class="background" id="background">
        <nav id="topbar" class = " navbar navbar-dark bg-dark fluid">
			<a href="/"><strong><font color = "white">Thien Tommy Nguyen's Portfolio</font></strong></a>
			<%if(typeof username != ''){%>
                <p class="bg-dark" id ="user" ><font color = "white"><%=username%></font></p>
                <form action="/users/logout" method="POST"><button class="bg-dark" id ="logout" action="/logout"><font color = "white">Logout</font></button></form>
                    <%}%>
                <%if(typeof username == ''){%>
                <a class="bg-dark" id ="login" href="/users/login"><font color = "white">Login</font></a>
                <a class="bg-dark" id ="register" href="/users/register"><font color = "white">Register</font></a>	
                <%}%>
		</nav>	
	<hr>
        <h1 class="title"> Each Blog Post Needs a Main Title Statement</h1>

        <img class="img-fluid" src='../images/title.jpg'>
        <small>a subtitle for image here</small>
        <div class="container">
            <h3>Intro</h3>
            <p class='bg-white outline'>
                This is a paragraph that defines what this blog post is all about.
                It serves as the thesis statement for a blog post.
            </p>
        </div>
        <hr>
        <div class="bg-white">
            <ul>
                <a href="index.html"><h1 id="blogs"><strong>Blogs</strong></h1></a>
                <li><a href="post1.html"><font color="black">Blog 1</font></li>
                <li><a href="post2.html"><font color="black">Blog 2</font></li>
                <li><a href="post3.html"><font color="black">Blog 3</font></li>
                <li><a href="post4.html"><font color="black">Blog 4</font></li>
            </ul>
        </div>
        <div class="bg-dark">
            <h3 id='overview'>Overview</h3>
            <ul>
                <li> <a href="#part1">part 1</a> </li>
                <li> <a href="#part2">part 2 </a> </li>
                <li> <a href="#part3"> part 3 </a> </li>
                <li> <a href="#conclusion"> conclusion </a> </li>
            </ul>
        </div>
        <img class="center" src="../images/image1.jpg" id="part1">
        <h3 class='text-green'>part 1</h3>
        <p class='bg-green'>
            This is the first part of your blog post.
            It may provide some foundational information necessary for later parts.
        </p>

        <img class="center" src="../images/image2.jpg" id="part2">
        <p></p>
        <h3 class='text-blue'>part 2</h3>
        <p class='bg-blue'>
            This is the next part of the blog posts.
            It follows from the previous part.
        </p>

        <img class="center" src="../images/image3.png" id="part3">
        <h3 class='text-red'>part 3</h3>
        <p class='bg-red'>
            This part continues the blog posts from the previous paragraph
            Each paragraph has its own message or point.
        </p>

        <img class="center" src="../images/image4.jpg" id="conclusion">
        <h3>Conclusion</h3>
        <p class='bg-yellow'>
            This is the final conclusion thoughts of the Blog posts.
        </p>

        <hr>
        <h3 class="white-text">Discussion Chat</h3>
        <ul id="chat-list"></ul>
        <div id="chat-form">
            <%if(typeof username == ''){%>
                <p>Please login to comment</p>
           </div>
           <%}%>
           <%if(typeof username != ''){%> 
           <div>
                <h1 id="thisUser"><font color ="white"><%=username%></font></h1>
                <textarea rows="2" id="message" placeholder="message"></textarea>
           </div>
           <%}%>
            </div>
            <button id="submit">Submit</button>
        </div>


        <h3><font color="white">About me</font></h3>
        <img class='thumbnail' src='../images/profile.jpg'>
        <h4 id="my-name"><font color="orange">Thien Tommy Nguyen</font></h4>
        <span><font color="white">I am currently a junior at the the University of New Orleans studying Computer Science with a focus in CyberSecurity. </font></span>

        <script src=../scripts/contact-controller.js></script>
        <script src=../scripts/contact-model.js></script>
        <script src=../scripts/contact-data.js></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>

