<!DOCTYPE html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../landing-page.css">
  <!--<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">-->
  <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body class="background" id="background">
  <nav id="topbar" class = " navbar navbar-dark bg-dark fluid">
    <a href="/"><strong><font color = "white">Thien Tommy Nguyen's Portfolio</font></strong></a>
    <a class="bg-dark" id ="login" href="/users/login"><font color = "white">Login</font></a>
          <a class="bg-dark" id ="register" href="/users/register"><font color = "white">Register</font></a>
    <form action="/users/logout" method="POST"><button class="bg-dark" id ="logout" action="/logout"><font color = "white">Logout</font></button></form>	
  </nav>	
<hr>
                <div class="col-md-6 m-auto">
                  <div class="card card-body text-center bg-dark">
                    <h1><i class="fab fa-node-js fa-3x"></i></h1>
          <h1><font color="white">Login</font></h1>
          <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= error.msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% }); %> <% } %> 
          <% if(success_msg != ''){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= success_msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %> <% if(error_msg != ''){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error_msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %> <% if(error != ''){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %>
            <form action="/users/login" id="login" method="POST">
              <div class="form-group">
                    <input 
                    type="username"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="username"/>
              </div>
              <div class="form-group">
                    <input 
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="password"/>
            </div>
            <button id= 'submit' class="btn btn-primary btn-block mb-2"
            >Login</button>
            </form>
            <p class="lead mt-4">
              <font color="white"> No Account? <a href="/users/register">Register</a></font>
            </p>
                  </div>
                </div>
              </div>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>